@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}
.header {
    display: inline-flex;
    background-color: black;
    width: 100%;
    height: 80px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
}
header .left-side a img{
    max-width: 150px;
}
header .right-side{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    
    
}

header .right-side .nav-link-wrapper a{
    padding: 10px;
    margin: 10px;
    text-decoration:solid;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
    font-style:normal;
    color: white;

}

header .right-side .nav-link-wrapper a:hover {
    transition: background, color;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
}

body {
    width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 100%;
    margin: 50px auto;
    display: block;
}

.topside {
    align-items: center;
    align-self: center;
    text-align: center;
}

.contact {
    margin: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.name {
    width: 800px;
    height: 100px;
    background: #ededed;
    margin: 15px auto;
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.name .title {
    margin-left: 10px;
}

.name .name-input {
    width: 700px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
    font-size: 18px;
 
}

.tel {
    width: 800px;
    height: 100px;
    background: #ededed;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

.tel .title {
    margin-left: 10px;
}

.tel .tel-input {
    width: 400px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
    font-size: 18px;
 
}

.email {

    width: 800px;
    height: 100px;
    background: #ededed;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}

.email .title {
    margin-left: 10px;
}

.email .email-input {
    width: 500px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
    font-size: 18px;
}

.description {
    width: 800px;
    height: 250px;
    background: #ededed;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}


.description .description-input {
    width: 780px;
    height: 220px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
    font-size: 18px;
 
}

.send-button {
    width: 200px;
    height: 70px;
    border-radius: 8px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;

}

.send-button:hover {
    background: #ededed;
    color: black;
}